Source: xdelta3
Section: utils
Priority: optional
Maintainer: A Mennucc1 <mennucc1@debian.org>
Build-Depends: debhelper-compat (= 13), liblzma-dev
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/debian/xdelta3
Vcs-Git: https://salsa.debian.org/debian/xdelta3.git
Homepage: http://xdelta.org/

Package: xdelta3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Diff utility which works with binary files
 Xdelta3 is a set of tools designed to compute changes between
 binary files.  These changes (delta files) are similar to the output of the
 "diff" program, in that they may be used to store and transmit only the
 changes between files.  The "delta files" that Xdelta3 manages are
 stored in RFC3284 (VCDIFF) format.
